html,body{
	height: 100%;
	width:100%;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
	background-color: #232324;
}

.row{
	margin-right:0;
	margin-left: 0;
}

h1.siteTitle{
text-align: center;
margin-top: 60px;
display: block;
overflow: hidden;
margin-bottom: 60px;
color:#fff;
}

@media screen  and (max-device-width: 400px)   {
	.col-md-3{
		width:100%;
	}
}
