<template name="thumbnails">

<div class="row">
	{{#each videos}}

		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">

				<a href="/p/{{canonicalName}}"><img class="image" src="{{ image.url }}"></a>
				<div class="caption">
						<h3><a href="/p/{{canonicalName}}">{{title}}</a></h3>
						<p>{{videoDescription _id true}}</p>
						<p>{{getCategoryFromId category}}</p>
				</div>
			</div>
		</div>

	{{/each}}
</div>

<div class="row">
	<h2>PLUGS</h2>
	{{> plugs}}
</div>
</template>
<template name="plugs">
	{{#each plugs}}

		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">

				<a href="/{{getCategoryFromId category}}/{{title}}" target="_blank"><img class="image" src="{{ image.url }}"></a>
				<div class="caption">
						<h3><a href="/{{getCategoryFromId category}}/{{title}}">{{title}}</a></h3>
						<p>{{getCategoryFromId category}}</p>
				</div>
			</div>
		</div>

	{{/each}}
</template>
