.videoTitle{
	color: #FFF;
text-transform: capitalize;
font-size: 1.8em;
font-weight: bold;
}

.videoDesc{
	color:#A3A3A3;
	font-size: 1.2em;
}

strong {
    font-weight: bold;
}

.videoSidebar{
max-width: 330px;
height: 100%;
display: block;
background: #2A2A2C none repeat scroll 0% 0%;
overflow: hidden;
padding-bottom:20px;
border-radius:6px;
min-height: 800px;
}

.videoSidebar img{
	margin-top:20px;
}

.videoCont{
	padding-top: 40px;
}

@media screen  and (max-device-width: 992px)   {
	.videoSidebar{
		max-width:100%;
		height: auto;
	}
}
