.videoTitle{
	color: #FFF;
text-transform: capitalize;
font-size: 1.8em;
font-weight: bold;
}

.videoDesc{
	color:#A3A3A3;
	font-size: 1.2em;
}

strong {
    font-weight: bold;
}

.videoSidebar{
max-width: 330px;
height: 100%;
display: block;
background: #2A2A2C none repeat scroll 0% 0%;
overflow: hidden;
padding-bottom:20px;
border-radius:6px;
min-height: 800px;
}

.videoSidebar img{
	margin-top:20px;
}

.videoCont{
	padding-top: 40px;
}

@media screen  and (max-device-width: 1199px)   {
	.container{
		width:100%;
	}
}

@media screen  and (max-device-width: 1040px)   {
	.videoCont .col-md-8{
		width:60%;
		float:left;
	}

	.videoSidebar{
		float: right;
		margin-right: 10px;
	}
}

@media screen  and (max-device-width: 880px)   {
	.videoCont .col-md-8{
		width:50%!important;
	}
}

@media screen  and (max-device-width: 710px)   {
	.videoCont .col-md-8, .videoSidebar{
		width:100%!important;
		max-width:100%;
		height: auto;
		min-height: auto;
		margin-right: 0;
	}

	.videoSidebar{
		margin-bottom: 20px;
		text-align: center;
	}

}